# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ctdhjcxtyqulxpiimrrc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0ZGhqY3h0eXF1bHhwaWltcnJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2MDExMDYsImV4cCI6MjA5NDE3NzEwNn0.isMnDixkmM7ZO4DpwgTLwe18UF47uDZRFO7XPNqu9ss

# Environment
NODE_ENV=development
